<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Mordhau_RCON.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <Mordhau_RCON.Properties.Settings>
            <setting name="Servers" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="KeepAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AliveFreqSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LastServer" serializeAs="String">
                <value>{"ServerName":"LastServerEntry","IP":"INVALID","Port":7778,"Password":"CHANGEME"}</value>
            </setting>
            <setting name="ColorConnecting" serializeAs="String">
                <value>"255, 140, 0"</value>
            </setting>
            <setting name="ColorConSuc" serializeAs="String">
                <value>"173, 255, 47"</value>
            </setting>
            <setting name="ColorErrors" serializeAs="String">
                <value>"255, 0, 0"</value>
            </setting>
            <setting name="ColorCommands" serializeAs="String">
                <value>"255, 255, 255"</value>
            </setting>
            <setting name="ColorOutput" serializeAs="String">
                <value>"255, 255, 0"</value>
            </setting>
            <setting name="ColorConsole" serializeAs="String">
                <value>"64, 64, 64"</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.99</value>
            </setting>
            <setting name="LastCommands" serializeAs="String">
                <value />
            </setting>
            <setting name="AutocompleteList" serializeAs="String">
                <value>["help","alive","listen allon","listen alloff","listen login","listen matchstate","listen killfeed","listen scorefeed","listen chat","listen custom","listen punishment","listenstatus","adminlist","banlist","mutelist","playerlist","maplist","addmap ","removemap ","addadmin ","removeadmin ","addbots ","removebots ","changelevel ","say ","customsay ","string ","event ","spawnserveractor ","kick ","ban ","unban ","mute ","unmute ","scoreboard","info","stats","writetoconsole ","changeteam ","modifyinivar ","getmatchduration","extendmatchduration ","setmotd ","teleportplayer ","killplayer ","getteamdamage ","renameplayer ","mountpak ","chatlog ","shutdown"]</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SuppressAlive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TimestampsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimestampFormat" serializeAs="String">
                <value />
            </setting>
        </Mordhau_RCON.Properties.Settings>
    </userSettings>
</configuration>
